# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Unit test / coverage
htmlcov/
.tox/
coverage.xml
pytest_cache/
.cache/

# Django / Flask
*.log
local_settings.py
instance/
*.sqlite3

# Environment variables
*.env

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
